.panel{
  border-radius: 5px;
  border: 1px solid #eaeaea;
}

.text-small{
  font-size: x-small;
  margin-bottom: 0px;
}

.limit-height{
  max-height: 2em;
}

.btn-run{
  background-color: #7BABED;
  border-color: #7BABED;
  width: 100%;
}

.btn-clear{
  background-color: #e88b8b;
  border-color: #e88b8b;
  width: 100%;
}

.btn-clear:hover{
  background-color: #E94A34;
  border-color: #E94A34;
}
