.panel{
  border-radius: 5px;
  border: 1px solid #eaeaea;
}

.text-small{
  font-size: x-small;
  margin-bottom: 0px;
}

.limit-height{
  max-height: 2em;
}

.btn-run{
  background-color: #51B4F9;
  border-color: #51B4F9;
}

.btn-run:hover{
  background-color: #0F8BE1;
  border-color: #0F8BE1;
}

.btn-clear{
  background-color: #F08578;
  border-color: #F08578;
}

.btn-clear:hover{
  background-color: #D86152;
  border-color: #D86152;
}

.select{
  width: 100%;
}

.hidden { display:none; }
