.square{
  border: 1px solid #eaeaea;
  float: left;
  font-size: 7px;
  font-weight: bold;
  line-height: 34px;
  height: 22px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 22px;
  border-radius: 3px;
}

button:focus {
  outline:0;
}

.square-default {
  background: #ffffff;
}

.square-start {
  background: #70e574; /* 1FCE6D */
}

.square-end {
  background: #e88b8b; /* E94A34 */
}

.square-wall {
  background: #e0e0e0;
}

.square-path {
  background: #c2dffc;
}
