.square{
  border: 1px solid #eaeaea;
  float: left;
  font-size: 7px;
  font-weight: bold;
  line-height: 34px;
  height: 22px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 22px;
  border-radius: 3px;
  position: relative;
  left: 50%;
  pointer-events: all;
}

button:focus {
  outline:0;
}

.square-default {
  background: #ffffff;
}

.square-start {
  background: #70e574; /* 1FCE6D */
  border: 1px solid #389339;

}

.square-end {
  background: #e88b8b; /* E94A34 */
  border: 1px solid #8e3939;
}

.square-wall {
  background: #cccccc;
  border: 1px solid #898989;
  /*animation-name: grow;
  animation-duration: 0.1s;*/
}

.square-path {
  background: #abd4fc;
  border: 1px solid #479ff7;
}

.square-visited {
  background: #e3effc;
  border: 1px solid #c2dffc;
}


/* Animations*/
@keyframes grow {
  0% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
  }


  100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
  }
}
